<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <title>Landing</title>
</head>
<body>

<div class="landing">
    <div class="dark-overlay landing-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mb-4">Chat App</h1>
                    <p class="lead">
                        Create Your account and start Chatting
                    </p>
                    <hr/>
                    <a href="registration" class="btn btn-lg btn-info mr-2">
                        Sign Up
                    </a>
                    <a href="login" class="btn btn-lg btn-light">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
